[Unit]
Description= Nginx container
Requires=Psql_sd.service
After=Psql_sd.service

[Service]
Type=simple
ExecStart=/usr/bin/podman start -a vodafone-proxy-3
ExecStop=/usr/bin/podman stop -t 2 vodafone-proxy-3
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
#WantedBy=local.target
WantedBy=default.target
